@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono&family=JetBrains+Mono&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  display: grid;
  grid-template-areas: "header header header header header header header"
                       "navbar main main main main main ad";
  grid-template-rows: 80px 5fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  gap: 0px 20px;
  background-color: rgb(60, 60, 60);
  color: beige;
}

/* Style the header */
/* .header {
  background-color: #f1f1f1; /* Light gray background color */
  /* padding: 20px; /* Add some padding */
  /* text-align: center; Center the text */
  /* grid-area: header; */
/* } */

.active {
  background-color: lightsteelblue; /* Light gray background color */
  color: black !important; /* Black text color */
  font-weight: 700 !important;
}

.header {
  background-color: #333; /* Dark background color */
  /*padding: 20px; /* Add some padding */
  /*height: 60px; /* Set the height of the header */
  width: 100%; /* Set the width of the header */
  /*position: fixed; /* Make it stick to the top */
  /* top: 0;*/
  grid-area: header;
  display: flex; /* Use flexbox to align the items */
  align-items: center; /* Center the items vertically */
  justify-content: space-between; /* Distribute the items evenly */
}

/* Style the header title */
.header h1 {
  color: #e8e4d9;
  /*font-size: min(5vw, 1.2em);*/
  font-size: x-large;
  text-align: center;
}

.header img {
  width: 50px; /* Set the width of the logo */
  height: 50px; /* Set the height of the logo */
  margin: 15px; /* Add some margin to the logo */
  /* height: 100px; /* Set the height of the logo */
  vertical-align: middle; /* Align the logo vertically with the text */
  /*width: max(100px, 18vw); /* Set the width of the logo */
  background-color: beige;
  aspect-ratio: 35 / 4;
  padding: 0.2rem;
}

/* Style the header links */
.header a {
  display: inline-block; /* Display the links inline */
  color: white; /* White text color */
  /*padding: 20px; /* Add some padding */
  padding: 20px;
  text-decoration: none; /* Remove underline */
}

/* Change the color of links on hover */
.header a:hover {
  background-color: beige; /* Light gray background color */
  color: black; /* Black text color */
}

.logo-container {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;


}

.links {
  margin-right: 15px;
}

/* Style the navigation bar */
.navbar {
  background-color: #333; /* Dark background color */
  overflow: auto; /* Enable scrolling if the content is too long */
  grid-area: navbar;
}

/* Style the navigation bar links */
.navbar a {
  display: block; /* Make the links take up the entire space */
  color: white; /* White text color */
  padding: 16px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd; /* Light gray background color */
  color: darkslateblue; /* Black text color */
  font-weight: 500;
}

/* Style the content area */
.content {
  font-family: 'Inter', sans-serif !important;
  grid-area: main;
  overflow-y: scroll;
}

/* Style the heading */
.content h1 {
  font-family: 'IBM Plex Serif', serif !important;
  text-align: center; /* Center the text */
}

.linkBox {
  grid-area: ad;
  display: grid;
}

.prBox {
  border: 1px solid black;
  margin: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-small;
}

.prBox img {
  width: 100%;
  padding: 0;
  margin: 0;
}

#wrap {
  width: 160px;
  height: 160px;
  padding: 0;
  overflow: hidden;
}

#scaled-frame {
  width: 200px;
  height: 200px;
  border: 0px;
  zoom: 0.8;
  -moz-transform: scale(0.8);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.8);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.8);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 1;
  }
}

h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Mono', Menlo, Courier, monospace;
}

li {
  margin: 1em;
}

/* Style the pre tag in dark mode */
pre {
  padding: 1em;
  background-color: #333; /* Dark background color */
  color: #dddddd; /* Light text color */
  border-radius: 0.3em;
  overflow-x: auto;
  font-family: 'JetBrains Mono','IBM Plex Mono', Courier, monospace;
}

/* Style the code tag inside the pre for dark mode */
pre code {
  font-family: 'JetBrains Mono','IBM Plex Mono', Courier, monospace;
  color: #fff; /* Light text color */
}

section {
  margin: 2.5rem 0;
}


